:root {
    font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    --primary_2: #F6FFFB;
    --secondary_2: #2F4858;
    --light: #FAF0E6FF;
    --secondary-rgb: rgb(47, 72, 88);
    --primary: #352F44;
    --secondary: #FAF0E6;
    color: var(--secondary);
    background-color: var(--primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

[data-theme='grads'] {
    --primary: #F6FFFB;
    --secondary: #2F4858;
}

p {
    margin: 0;
}
